<!DOCTYPE html>
<html ng-app="hotelapp">
<head>
	<meta charset="UTF-8" />
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="./css/estilo.css"/>
	<script type="text/javascript" src="./lib/angular.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/controller/quartoCTRL.js"></script>
	
</head>
<body ng-controller="quartoCTRL">
	<div class="container-fluid">
	  <div class="row content">
	    <div class="col-sm-3 sidenav">
	      <h1>Hotel App</h1>
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="#section1">Home</a></li>
	        <li><a href="#section2">Home</a></li>
	        <li><a href="#section3">Quartos</a></li>
	        
	      </ul>	      
	    </div>
	
	    <div class="col-sm-9">
			<div class="panel panel-default">		
				<div class="panel-heading">Quarto Hotel</div>
			    	<div class="panel-body">
				    	<form name="quartoForm" class="form-horizontal"	>
				    		<div class="form-group">
					    		<label for="porta" class="col-sm-2 control-label">Porta</label>
					    		<div class="col-sm-2">
					    			<input class="form-control" type="text" id="porta" ng-model="quarto.numeroPorta"/>
					    		</div>	
				    		</div>
				    		<div class="form-group">	
					    		<label for="status" class="col-sm-2 control-label">Situação</label>
					    		<div class="col-sm-4">
								    <select class="form-control" id="status" ng-model="quarto.statusQuarto">
									    <option value=""></option>
									    <option value="DISPONIVEL">disponível</option>
									    <option value="OCUPADO">Ocupado	</option>					   
									</select>
								</div>
							</div>
							<div class="form-group">
							    <label for="capacidade" class="col-sm-2 control-label">Capacidade Quarto</label>
							    <div class="col-sm-2">
							    	<input class="form-control" type="text" id="capacidade" ng-model="quarto.capacidade"/>
							    </div>
						    </div>	
						    <div class="form-group">
	   				 			<div class="col-sm-offset-2 col-sm-10">			    
						    		<button class="btn btn-info" ng-click="save(quarto)">Salvar</button>
						    	</div>
						    </div>	
						</form>	
				    </div>
					<table class="table table-bordered">
						<tr>
							<th>Porta</th>
							<th>Situação</th>
							<th>Capacidade</th>
							<th>Alterar</th>
							<th>Excluir</th>
						</tr>
						<tr ng-repeat="x in quartos">
							<td style="width: 20%">{{ x.numeroPorta }}</td>
							<td style="width: 52%">{{ x.statusQuarto }}</td>
							<td style="width: 20%; text-align: center;">{{ x.capacidade }}</td>
							<td style="width: 4%"><button ng-click="alterar(x)" 
								class="btn btn-warning">
								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
							</button></td>
							<td style="width: 4%"><button ng-click="if(confirm('Tem certeza que deseja excluir o quarto?')) excluir(x.numeroPorta)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>